#docTitle {
    text-align: center;
    color: #f7fff7;
}

body {
    background-color: #1e211e;
    color: #f7fff7;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

#descriptionTitle {
    margin-left: 1ch;
}   

.parent {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 10ch;
}

.child {
    flex: 1;
    border: 1px solid #f7fff7;
    background-color: #0E402D;
    border-radius: 3ch;
    overflow: hidden;
    flex-wrap: wrap;
}

#calendarBox {
    margin-left: 5%;
}

.calendarHeaderGrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 4%;
    margin-top: 2%;
    font-weight: bold;
}

.calendarHeaderElement {
    text-align: center;
}

.calendarHeaderGrid button {
    background-color: transparent;
    border: 0;
    font-size: large;
    font-weight: bold;
    color: #f7fff7;
    border-radius: 50%;
}

.calendarHeaderGrid button:active {
    background-color: #f7fff7;
    color: #282727;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#daysGrid {
    font-weight: bold;
}

#calendarHeader {
    min-width: 100%;
}

#firstNumber {
    grid-column: 5;
}

.calendarGrid button {
    width: 100%;
    height: 5ch;
    margin: auto;
    border: 0;
    font-size: 15px;
    background-color: transparent;
    color: #f7fff7;
}

.calendarGrid button:hover {
    border: 1px solid #f7fff7;
}

.calendarGrid button:focus,
.calendarGrid button:active {
    background-color: #f7fff7;
    color: black;
}

@media screen and (max-width:800px) {
    .parent {
        flex-direction: column;
        width: 100%;
    }

    #calendarBox {
        margin-left: 0;
    }
}