#docTitle {
    text-align: center;
    color: #f7fff7;
}

body {
    background-color: #282727;
    color: #f7fff7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

main {
    margin: auto;
}

.parent {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 8ch;
}

.child {
    flex: 1;
    border: 1px solid #f7fff7;
    background-color: #1d4165;
    border-radius: 3ch;
    overflow: hidden;
    flex-wrap: wrap;
}

#descriptionBox {
    padding: 2ch;
}

#calendarBox {
    margin-left: 5%;
}

.calendarTitleGrid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 5%;
    margin-top: 2%;
    font-weight: bold;
}

.calendarTitleElement {
    text-align: center;
}

.calendarTitleGrid button {
    background-color: transparent;
    border: 0;
    font-size: large;
    font-weight: bold;
    color: #f7fff7;
    border-radius: 50%;
}

.calendarTitleGrid button:active {
    background-color: #f7fff7;
    color: #282727;
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#daysGrid {
    font-weight: bold;
}

#calendarHeader {
    min-width: 100%;
}

#firstNumber {
    grid-column: 5;
}

.calendarGrid button {
    width: 100%;
    height: 5ch;
    margin: auto;
    border: 0;
    font-size: 15px;
    background-color: transparent;
    color: #f7fff7;
}

.calendarGrid button:hover {
    border: 1px solid #f7fff7;
}

.calendarGrid button:focus,
.calendarGrid button:active {
    background-color: #f7fff7;
    color: black;
}

@media screen and (max-width:800px) {
    .parent {
        flex-direction: column;
        width: 100%;
    }
}

